#container {
  text-align: right;
  
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  background-color: #FF8C00; /* Warna latar belakang oranye */
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #fc6101;
  margin: 0;
}

#container a {
  text-decoration: none;
}
